APP_ENV=local
APP_DEBUG=true
APP_KEY=QHcAlDvzs2X1RWK13Lu1oMM9AgTrlylO
API_KEY=fcSBYEKLNsWj6bLAKkhg62E1BtaV3f1p

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

FACEBOOK_APP_ID=00000000000
FACEBOOK_APP_SECRET=00000000000
FB_CLIENT_ID=00000000000
FB_CLIENT_SECRET=00000000000
