# ignore MAC files
.DS_Store
# ignore PhpStorm files
.idea/
# ignore Windows files
*.lnk
Thumbs.db
# ignore Laravel files
/bootstrap/compiled.php
/vendor
composer.phar
Homestead.yaml
Homestead.json
.env
# Node.js
npm-debug.log
/node_modules
# AWS
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
