option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: l5-app.cwv9u0u0d5jp.ap-southeast-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_DATABASE
     value: l5_app
   - option_name: DB_USERNAME
     value: l5_app_root
   - option_name: DB_PASSWORD
     value: l5_app_pw
