/**
 * Colors in alphabetical order.
 */

$abbey: #565A5C;
$black: #000000;
$dusty-gray: #999999;
$half-baked: #88C5CC;
$mine-shaft: #333333;
$neptune: #6FACB3;
$silver: #C4C4C4;
$silver-chalice: #aaa;
$sirocco: #6C6E6E;
$white: #FFFFFF;
